<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <%- include('Header') %>

        <%
        myData.forEach(ele=>{
       %>
       <h1><%=ele.name%></h1>
       <%
        })
        %>
        <h1>Hello</h1>
    </body>
</html>




      

